@font-face {
    font-family: Audiowide;
    src: url('../fonts/Audiowide-Regular.woff') format('woff');
}

.mainbutton {
    background-color: #32a7dc;
    color: #000000;
    border: 2px solid black;
    border-radius: 15px;
    width: 25%;
    height: 10%;
    text-align: center;
    font-size: 36px;
    font-family: Audiowide;
    margin: 2% 1%;
    cursor: pointer;
}
.backbutton {
    background-color: #999999;
    color: #000000;
    border: 2px solid black;
    border-radius: 15px;
    width: 25%;
    height: 10%;
    text-align: center;
    font-size: 36px;
    font-family: Audiowide;
    margin: 2% 1%;
    cursor: pointer;
}
.submitbutton {
    color: #000000;
    border: 2px solid black;
    border-radius: 5px;
    width: 25%;
    height: 5%;
    text-align: center;
    font-size: 24px;
    font-family: Audiowide;
    margin: auto;
    align-self: center;
    cursor: pointer;
}
.matchlevel {
    background-color: #32a7dc;
    color: #000000;
    border: 2px solid black;
    width: 25%;
    height: 10%;
    text-align: center;
    font-size: 36px;
    font-family: Audiowide;
    cursor: pointer;
    max-width: 25%;
}
.input {
    min-width: 100px;
    width: 100px;
    font-family: Audiowide;
    text-align: center;
}
.checkbox {
    .ant-checkbox .ant-checkbox-inner {
        background-color: #999999;
        border-color: #000000;
        width: 200px;
        height: 25px;
        border-radius: 5px;
    };
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #61f761;
        border-color: #000000;
        width: 200px;
        height: 25px;
        border-radius: 5px;
    };
}
.submit {
    border: 1px solid black;
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    align-self: center;
    font-family: Audiowide;
}
.textarea {
    resize: none;
    height: 100px;
    margin-bottom: 25px;
    font-family: Audiowide;
}
.pathbutton {
    width: fit-content;
    font-family: Audiowide;
}