/**
 * @author Nathan Kwok, add more...
 * @since 2023-10-29
 * @version 1.0.0
 * @description CSS for the home page
 */

@font-face {
    font-family: Audiowide;
    src: url('../fonts/Audiowide-Regular.woff') format('woff');
}
body {
    margin: 0;
    font-family: Audiowide;
}
h1 {
    margin: 0;
    font-size: 44px;
    color: #ffffff;
    display: inline-block;
}
h2 {
    font-family: Audiowide;
}
.banner {
    background-color: #32a7dc;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.body {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-family: Audiowide;
}
.matchbody {
    padding-left: 5%;
    padding-right: 5%;
}